<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>등록</title>
</head>
	<body>
		<form name="insertForm" th:action="@{/empInsert}" method="post" th:object="${empVO}">
			<div>
				<label>사원번호<input type="text" th:field="*{employeeId}" readonly></label>
			</div>
			<div>
				<label>이름<input type="text" th:field="*{lastName}"></label>
			</div>
			<div>
				<label>이메일<input type="text" th:field="*{email}"></label>
			</div>
			<div>
				<label>입사일<input type="date" th:field="*{hireDate}"></label>
			</div>
			<div>
				<label>업무<input type="text" th:field="*{jobId}"></label>
			</div>
			<div>
				<label>급여<input type="number" th:field="*{salary}"></label>
			</div>
			<button type = "submit">등록</button>
		</form>
		<script type="text/javascript">
			document.querySelector('form[name="insertForm"]')
					.addEventListener('submit', validationCheck);
			
			function validationCheck(event){
					event.preventDefault();
					
					let name = document.getElementById('lastName');
					if(name.value == ''){
						alert('name 필수 입력하세요');
						name.focus();
						return;
					}
					
					let email = document.getElementById('email');
					if(email.value == ''){
						alert('email 필수 입력하세요');
						email.focus();
						return;
					}
					
					let jobId = document.getElementById('jobId');
					if(jobId.value == ''){
						alert('jobId 필수 입력하세요');
						jobId.focus();
						return;
					}
					
					insertForm.submit();
			};
		</script>
	</body>
</html>